.header {

display: flex;
justify-content: space-between;
border: 1px solid black;

}

.res-card{
    margin: 10px;
    padding: 10px;
    width:200px;
   
    
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-container{
    
    display: flex;
    flex-wrap: wrap;
}


.res-txt{

padding:4px;

}

.logo {

    width: 150px;
}
.search {

padding:10px;   
display: flex;
gap: 10px;


}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
    
}

.nav-items > ul > li {

    padding: 10px;
    margin: 10px;

}




.res-logo {
    
    padding:5px;
    width:95%;
    object-fit: fill;
    height: 200px;
}






.login {

padding: 20px;
margin: 10px;

}